.header {
  background-color: #2db7f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: #ffffff
}
.menu {
  width: 150px;
  background-color: transparent;
}
