.header {
  background-color: #7fffd4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  background-color: transparent;
  width: 150px;
  &:hover {
    color: black;
  }
}
